.login-form.ant-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 5%;
}

.login-form > .ant-row {
  width: 30%;
  justify-content: center;
  align-items: center;
}
